* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

::selection {
    background-color: lightcoral;
    color: #6e1c1c;
}

li {
    list-style: none;
}

.nav {
    background: #006E7F;
    height: 40px;
    width: auto;
    color: #fff;

}

.nav_container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


.nav_logo{
    font-size: 1.5em;
    font-weight: 900;
}

.nav_menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav_item{
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}

.nav_item::after{
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;

}
.nav_item:hover { 
   --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_input:checked + .nav_menu {
    background: #18978F;
}

.nav_label, .nav_input{
    display: none;
}




a {
    text-decoration: none;
    color: white;
}


.home {
    background-color: #018599;
    width: 100%;
    height: 100%;
    padding: 6rem;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home > .content {
    display: flex;
    flex-direction: row;
    padding: auto;
    justify-content: center;
    align-items: center;
}


.home > .content > .info {
    color: azure;  
}

.home > .content > .info > .title {
    color:rgb(23, 23, 24)
}



.about {
    width: 100%;
    height: 490px;
    background-color: #008CBA;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.about > .content, 
.about > .content-skills,
.about > .content-tech {
    padding: 30px;
    border: 1px;
    color: white;
    width: 350px;
    height: 400px;
    
}


.about > .content {
    background-color: #66bfbf;
}

.about > .content:hover,
.about > .content-skills:hover,
.about > .content-tech:hover {
    background-color: #006E7F;
}

.about > .content > span, p,
.about > .content-skills > span,
.about > .content-tech > span {
    color: rgba(23, 22, 22, 0.961);
}

.about > .content-skills {
    background-color: #0bb3b3;

}

.about > .content-skills > ul > li {
    padding: 10px;
}

.about > .content-tech {
    background-color: #3aa8b9;
}

.lang {
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 100px 100px;
    grid-auto-rows: 100px;
    gap: 10px;
}

.lang > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9DAC1;
    
}

.lang > *:hover {
    background-color: #d24816;
}

.lang > div > img {
    width: 65px;
}

.web {
    width: auto;
    height: auto;
    padding: 30px;
    background-color: #018599;
    justify-content: center;
    align-items: center;  
}

.web > h3, span {
    align-self: center;
}

.web > .card {
    min-height: 50vh;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    grid-auto-rows: 100px;
    gap: 20px;
}

.card > * {
    display: flex;
    background-color: #66bfbf;
    border-radius: 20px;
}

.card > *:hover {
    background-color: #008CBA;
    padding-bottom: 0px;
}

.web > .card > .target {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.web > .card > .target > .data {
    border-top: 1px  solid black;
    padding: 10px;
    
    
}

.web > .card > .target > .data > a:hover {
    color: #000;
}

.web > .card > .target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.web > .card > .target > img {
    width: 200px;
    height: 200px;
    padding: 20px;
    
}


.contact {
    width: auto;
    height: auto;
    background-color: #014752;
    padding: 10px;
    
}


.contact > .content-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-contact > * {
    display: flex;
    flex-direction: column;
    width: auto;
}

.content-contact > .strength {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-contact > .strength > .front > *,
.content-contact > .strength > .back > * {
    margin: 20px;
    justify-items: center;

}


.content-contact > .strength > .front > ul {
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 100px 100px;
    column-gap: 50px;
    row-gap: 100px;
    

}

.content-contact > .strength > .back > ul{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 100px  ;
}

.content-contact > .strength > .front > ul > li:hover,
.content-contact > .strength > .back > ul > li:hover {
    color: #e9dac1;
}



.button {
    margin: 15px;
    padding: 8px;
    background-color: #353332;
    color: white;
}

.button:hover {
    background-color: #006E7F;
}


.content-contact > .photo > .information {
    display: grid;
    grid-template-columns: 400px 300px;
    grid-template-rows: 50px 50px;
    justify-items: center;
    align-items: center;
}
.content-contact > .photo > img {
    align-self: center;
    width: 300px;
    

}

.content-contact > .photo > .information {
    padding: 0px 20px 20px 20px;
    
    
}

.content-contact > .photo > .information > p {
    font-size: 20px;
    padding: 8px;
    width: auto;
    height: auto;
    color: #e9dac1;
    border: 1px solid #e9dac1;
    background-color: #080505;
    opacity: 0.7;
}

.content-contact > .photo > .information > p:hover {
    color: #942e2e;
}

.footer {
    position: sticky;
    width: 100%;
    height: 4rem;
    background-color: #006E7F;
    padding: 10px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer > h4 {
    
    padding-top: 10px;
    
}


.footer > .social {
    padding: 4px;
    display: flex;
    flex-direction: row;
    
}

.footer > .social > li {
    padding-left: 50px;
    padding-right: 50px;
}




/* CLASES REUTILIZABLES */

.image {
    width: 390px;
}

.big-size {
    font-size: 40px;
    padding: 5px;
}

.big-medium-size {
    font-size: 30px;

}

.medium-size {
    font-size: 20px;
    padding: 5px;
}

.small-size {
    font-size: 12px;
}
.fw {
    font-weight: bold;
}

.f-large {
    font-size: 100px;
}

.f-medium {
    font-size: 75px;
}


.border-bo {
    border-bottom: 1px solid #c9440b;
    border-bottom-width: 2px;
    
}

.p-top {
    padding-top: 40px;
}

.p-bottom {
    padding-bottom: 15px;
}

.p-left {
    padding-left: 20px;
}

.p-gen {
    padding: 10px 0 10px 0px;  
}

.c-white {
    color: white;
}

.c-beige {
    color: #e9dac1
}

.c-d24816 {
    color: #d24816;
}

.bc-aquamarine {
    color: aquamarine;
}

.w-big {
    width: 90px;
    height: 90px;
}

.color:hover {
    color: #c9440b;
}
.overlayBottom {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #008CBA;
    transition: .4s ease;
}

.overlay-img {
    position: absolute;
    opacity: 0;
}

.text-port {
        color: white;
        font-size: 20px;
        font-size: 1.150rem;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        padding: 1rem;
        transform: translate(-50%, -50%);
        font-weight: 400;
        opacity: 1;
}


/* MEDIA QUERY */

@media (max-width: 768px) {
    .nav_label {
        display: block;
        cursor: pointer;
    }
    .nav_menu {
        position: absolute;
        top: 40px;
        bottom: 0;
        background-color: #e9dac1;
        height: 20%;
        width: 100%;
        right: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        clip-path: circle(0 at right);
        transition: clip-path 1s ease-in-out ;
    }

    .nav_input:checked + .nav_menu {
        clip-path: circle(150% at right);
        
    }

    .home {
        background-color: #018599;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .home > .monitor > img {
        width: 200px
    }

    .home > .content > .info > .subtitle {
       font-size: 12px;
    }

    .home > .content > .info > .title {
        
        font-size: var(--x-small);
    }
    
    .about {
        width: auto;
        height: auto;
        background-color: #008CBA;
        display: flex;
        flex-direction: column; 
    }

    .about > .content, 
    .about > .content-skills, 
    .about > .content-tech {
        padding: 30px;
        border: 1px;
        color: white;
        width: 300px;
        height: auto;

    }
    

    .lang {
        
        justify-content: center;
        align-content: center;
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 80px 80px;
        grid-auto-rows: 80px;
        gap: 10px;
    }

    .lang > div > img {
        width: 45px;
    }

    .web {
        width: auto;
        height: auto;
        padding: 20px;
        background-color: #018599;
    }

    .web > .card {
    
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .web > .card > .target {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .web > .card > .target > img {
        width: 100px;
        height: 100px;

        
        
    }

    .content-contact > .strength {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-contact > .strength > .front > span,
    .content-contact > .strength > .back > span{
        font-size: 18px;
    
    }

    .content-contact > .strength > .front,
    .content-contact > .strength > .back {
        padding: 5px;
    }

    .content-contact > .strength > .front > ul,
    .content-contact > .strength > .back > ul{
        font-size: 15px;
    }

    .content-contact > .photo > img {
        width: 280px;
    }
    .content-contact > .photo > .information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        
    }
    .content-contact > .photo > .information > p {
        padding: 10px;
        margin: 10px;
    }
    .content-contact > .strength > .back > ul{
       display: grid;
       grid-template-rows: 100px 100px;
       grid-template-columns: 100px 100px;
       gap: 50px;
    }

    .content-contact > .strength > .front > ul{
        display: grid;
        grid-template-rows: 100px 100px;
        grid-template-columns: 100px 100px;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

     .content-contact > .strength > .front > ul > li > i {
        font-size: 100px;
    }
    
    .footer > .social > li {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 30px;
        
    
    }

    .footer > h4  {
        text-shadow: transparent;
        color: transparent;
    }

    .footer > p {
        text-shadow: transparent;
        color: transparent;

    }
    
   
    
}
/* @media screen and (min-width: 767px) {
    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 100px;
    }
    img {
        max-inline-size: 100%;
        block-size: auto;
        aspect-ratio: 2/1;
        object-fit: contain;
        
    }
    .nav-toggle {
        display: none;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        background-color: #f48e4f;
        top: 0px;
        left: -100%;
        width: 70%;
        height: 100%;
        margin-top: 3.5rem;
        padding: 3.5rem;
        transition: .3s ease-in-out;
    }

    .nav-menu {
        display: flex;
        gap: 1rem;
    }



    
} */





